body{
    background: #03a1a6;
	font-family: Verdana;
	margin-top: 50px;
	margin-bottom: 50px;

}

.fila_avatar{
    background: #C4DB94;
	margin-top: 20px;
	height: 300px;
}

.avatar{
	margin-left: 20px;
	margin-top: 25px;
	height: 250px;
	text-align: left;
	vertical-align: middle;
}

.llista{
	color: #dddddd;
}